@charset "UTF-8";
*{
			 margin:0px;
		     padding:0px;
	}
		
	body
		{
			font-family: 'Oswald', sans-serif;
		}
		    
     .nav-bar
     		{
			background-color:orange;
			padding: 10px;
		    }
		
     .container
             {
			  padding:10px;
			  width: 1329px; 
              height: 700px;
			  background-image: url('ex1.jpg');
			  
			 background-position: fixed;
			 background-size:cover ;
			 background-attachment: fixed;
			 
			  
			  }
			
     .book-container
			{
				padding:15px;
				width: 25%;
				background-color: lightpink;
				border-radius: 10px;
				color: black;
				margin:30px;
                display: inline-block; 
                vertical-align:top;
                
			 }
			      
			 .book-container h1{color: black;}
			 
			 
    .book-container button
              {
				    background-color:black;
				    color: white;
				    border-radius: 10px;
				    padding-bottom: 10px;
				    padding-left: 10px;
				    padding-top: 5px;
				    padding-right: 5px;
				    margin-top: 10px;
				  }
			      
			   
	 
			 .one{
			    background-color: orangered;
				color: black;
				border-radius: 100px;
				padding-left:30px ;
				padding-right:30px ;
				padding-top: 20px;
				padding-bottom:20px ;
				font-size: 40px;
				border: none;
				position: fixed;
				bottom: 30px;
				right: 30px;
			}
				
		.popup-overlay
		    {
			         background-color:yellow;
			         height: 100%;
			         width:100%;
			         position: absolute;
	               	 top:0px;
		             left:0px;
		             z-index: 1;
		             display:none;	
		             opacity: 0.8;	
		     }
		              
		              
	  
			.popup-box  {
				     background-color: grey;
					 width: 40%;
					 padding: 40px;
					 border-radius: 10px;
					 position: absolute;
					 top: 20%;
					 left:30%;
				     z-index:2;
				     display:none;
				     
				}
				
	  .popup-box input
	          {
					background-color: transparent;
					width: 100%;
					margin:5px;
                    padding: 5px;
                 	font-size: 20px;
                  	border-bottom: solid 2px;
              }
                    
       .popup-box textarea
               {
					background-color: transparent;
					width: 100%;
					margin:5px;
                    padding: 5px;
                   	font-size: 20px;
                    border-bottom: solid 2px;
                }
                    
        .popup-box input::placeholder{
						             color: black;
					                 }
					.popup-box textarea::placeholder{
						                             color: black;
					                                 }
				 
		 .popup-box button
		 {
					  background-color: black;
		         	  padding-left:20px ;
					  padding-right:20px ;
					  padding-top: 10px;
					  padding-bottom:10px ;
					  color: white;
					  border: none;
					  margin:5px;				  
			      }
			      
			      .popup-box input:focus{
					                      outline:none;
				                        }
			      
			      .popup-box textarea:focus{
					                         outline:none;
				                            }
